<!DOCTYPE html>
<html>
  <head>
    <title>Pawperty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/d4d4bc9d96.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/jpg" href="https://res.cloudinary.com/de8carnhu/image/upload/v1638516659/flat_750x_075_f-pad_750x1000_f8f8f8.u3_kcecda.jpg"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
