<!DOCTYPE html>
<html>
  <head>
    <title>Pawperty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Paw-perty" />
    <meta property='og:image' content="<%= image_url('images/pawperty-gif.gif') %>"/>
    <meta property="og:description"
      content="Dog-sitting booking application, inspired full-stack clone of AirBnB, allowing users to explore homes in various cities, become a host, and review their experiences."
    />
    <meta property="og:url"
      content="http://paw-perty.herokuapp.com/"
    />

    <!--<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>-->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>

    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/1f6056bf98.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/jpg" href="https://res.cloudinary.com/de8carnhu/image/upload/v1638516659/flat_750x_075_f-pad_750x1000_f8f8f8.u3_kcecda.jpg"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
